*{
	margin: 0;
	padding: 0;
}
.franja-jm{
	width: 100%;
	height: 200px;
	background-color: #efeee5;
}
.linea-arriba-jm{
	border-bottom: 2px solid #cccccc;
	width: 960px;
	margin: 0 auto;
	height: 30px;
}
.linea-abajo-jm{
	border-top: 2px solid #cccccc;
	width: 960px;
	margin: 0 auto;
}
.icono-titulo-jm{
	margin: 0 auto;
	width: 960px;
	height: 70px;
	padding-top: 10px;
}
.logo-jm{
	width: 46px;
	height: 46px;
	padding-top: 5px;
}
.contenedor-logo-jm{
	float: left;
}
.contenedor-titulo-jm{
	float: left;
	width: 890px;
	padding-left: 20px;
}
.titulo-jm{
	font-size: 50px;
}


.cuerpo-jm{
	padding-top: 30px;
}
.parrafos-jm{
	color: #555;
}
.tanslate-jm{
	text-decoration: none;
	color: #695;
}
.translate-jm:hover{
	color: #2a5d84;
}
