
.franja-j{
	height:auto;
    overflow: hidden;
    background-color: #2a5d84;
    font-family: "Helvetica Neue";
    }

.menu_J{
    
    overflow: hidden;
	float: right;
	box-sizing:border-box;
	height:auto;
        
}
.menu_J ul{
	list-style: none;
	margin:0;

}
.menu_J ul li{
display: inline-block;
margin:0;
}

.menu_J li a {
    display: inline-block;
    color: white;    
    padding:25px 16px;
    text-decoration: none;
}

.menu_J li a:hover {
    background-color: #1f3c52;
}
.logo_J{
	box-sizing:border-box;
	float:left;
	height:auto;
	padding:25px;
}

.logo_J a{
	color: white;
	text-decoration: none;
	 padding:25px 16px;
	
}

.logo_J a:hover{
	background-color: #1f3c52;
}

.bienvenido-i{
	display: block;
    text-align: center;
    font-size: 140%;
    font-weight: bold;
    font-family: sans-serif;
	margin-top:70px;
	color:#444;
}

.tabla-i{
	margin: 0 auto;
	color: #444;
}

.img-i{
	width:100px;
	height:auto;
	display:inline;

}

.error-i h1{
	text-align:center;
}

/*-----------------------------*/
/*------Juanma Principal-------*/
/*-----------------------------*/


.franja-jm{
	height: 200px;
	background-color: #efeee5;
}
.linea-arriba-jm{
	border-bottom: 2px solid #cccccc;
	width: 960px;
	margin: 0 auto;
	height: 30px;
}
.linea-abajo-jm{
	border-top: 2px solid #cccccc;
	width: 960px;
	margin: 0 auto;
}
.icono-titulo-jm{
	margin: 0 auto;
	width: 960px;
	height: 70px;
	padding-top: 10px;
}
.logo-jm{
	width: 46px;
	height: 46px;
	padding-top: 5px;
}
.contenedor-logo-jm{
	float: left;
}
.contenedor-titulo-jm{
	float: left;
	width: 890px;
	padding-left: 20px;
}
.titulo-jm{
	font-size: 50px;
}
.cuerpo-jm{
	padding-top: 30px;
}
.parrafos-jm{
	color: #555;
}
.tanslate-jm{
	text-decoration: none;
	color: #695;
}
.translate-jm:hover{
	color: #2a5d84;
}
.contenedor-jm{
	padding-bottom: 30px;
}


/*----------------------------*/
/*--------Juanma Pié----------*/
/*----------------------------*/



/*---------Menu Pié---------------*/



.pie-jm{
	width: 100%;
	height: 60px;
	background-color: #333333;
	padding-top: 30px;
}
.menu-copy-jm{
	width: 960px;
	margin: 0 auto;
}
.social-jm{
	float: left;
}
.social-jm ul{
	list-style: none;
}
.social-jm li{
	display: inline;
	padding-left: 15px;
}
.menu-jm{
	text-decoration: none;
	color: #7b7b7b;
}



/*---------Copyright----------*/



.copy-jm{
	float: right;
}
.copy-jm p{
	color: #7b7b7b;
}

/*----------------------------*/
/*------------estilos valentin----------------*/

.p-valentin{
	background: #FFFACD;  border: 1px solid #FF6347; padding: 5px
}

#cuerpo-v{
	padding-top:25px;
}